.cart-svg {
  height: 20px;
  width: 20px;
}

h2 {
  font-family: Fraunces, "Times New Roman", Times, serif;
  font-size: 33px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}

body {
  background-color: hsl(30deg, 38%, 92%);
  font-size: 14px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 100vw;
  gap: 30px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 452px;
  width: 602px;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.1);
}

.card-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: url("../images/image-product-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
.card-left a {
  height: 100%;
  width: 100%;
}

.card-right {
  display: flex;
  justify-content: left;
  align-items: space-between;
  flex-direction: column;
  height: auto;
  width: 100%;
  flex-grow: 0;
  padding: 25px 33px;
}
.card-right .card-txt {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
  gap: 20px;
  padding: 10px 0;
}
.card-right .card-txt h3 {
  color: hsl(228deg, 12%, 48%);
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0.45em;
  font-weight: 500;
  margin: 0;
}
.card-right .card-txt h2 {
  color: hsl(212deg, 21%, 14%);
}
.card-right .card-txt p {
  color: hsl(228deg, 12%, 48%);
  font-weight: 500;
  margin: 0;
}
.card-right .prices {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 20px;
  padding: 18px 0;
}
.card-right .prices h2 {
  color: hsl(158deg, 36%, 37%);
}
.card-right .prices h3 {
  color: hsl(228deg, 12%, 48%);
  font-weight: 500;
  text-decoration: line-through;
}
.card-right .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card-right .btn-wrap .btn {
  height: 100%;
  width: 100%;
  background-color: hsl(158deg, 36%, 37%);
  border: 0;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 16px 0;
  transition: 0.3s ease-in-out;
}
.card-right .btn-wrap .btn:hover {
  background-color: #1D4436;
}
.card-right .btn-wrap .btn-txt::before {
  content: url("../images/icon-cart.svg");
  padding-right: 5px;
  position: absolute;
  margin-left: -1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media only screen and (max-width: 414px) {
  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    background-color: hsl(30deg, 38%, 92%);
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding: 7px 14px;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  .card-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    width: 100%;
    background: url("../images/image-product-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
  }
  .card-left a {
    height: 100%;
    width: 100%;
  }
  .card-right {
    display: flex;
    justify-content: left;
    align-items: space-between;
    flex-direction: column;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 0;
    padding: 25px 25px;
  }
}/*# sourceMappingURL=style.css.map */